@import url('https://fonts.googleapis.com/css2?family=Solway:wght@300;400;500;700&display=swap');
body {
    font-family: 'Solway', serif;
}

.content {
    min-height: calc(100vh - 64px);
    display: flex;
    margin: 0 2rem;
    margin-top: 2rem;
    flex-direction: column;
}

.image {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: #e7f9ef;
}

.image img {
    width: 50%;
}

.story-info .name, .story-info .date, .story-info .publisher {
    margin-top: 0.5rem;
}

.details {
    margin: 2rem 0;
    text-align: justify;
}