.row {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    color: #00a558;
}

.card > .tittle {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    margin: 1rem 0;
}

.card > form > .radio {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 0.5rem;
}

.card > form > .radio > .input__radio {
    display: none;
}

.card > form > .radio > .input__label {
    padding: 0 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.2s;

}

.input__label:not(:last-of-type) {
    margin-right: 0.5rem;
}

.input__radio:checked + .input__label {
    color: white;
    background-color: #00a558;
    
}

.form-control {
    margin: 0.8rem 0;
    border: none;
    border-bottom: 0.5px solid black;
    border-radius: 0;
}

.submit {
    width: 100%;
    border: 0;
    border-radius: 5px;
    color: white;
    background-color: #00a558;
    margin-bottom: 0.8rem;
}

.question {
    margin-bottom: 1.8rem;
    margin-left: 0.15rem;
}

@media (max-width: 770px) {
    .card {
        width: 100%;
    }
}