.btn_wrapper {
    display: flex;
    justify-content: right;
  }

.add {
    margin: 0.5rem 0;
    width: 5rem;
    background-color: aquamarine;
    border-radius: 2px;
    padding: 4px 0;
}

.content {
    position: relative;
}


table {
    margin-top: 0 !important;
}

.popup {
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}

.window {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 2.5rem 10rem;
    background-color: rgb(255, 255, 255);
}

.close {
    color: black;
    position: absolute;
    right: 0.5%;
    top: 2%;

}

.form-control{
    margin-bottom: 1rem;
}
