.outer-container {
    width: 100%;
    height: calc(100vh - 36px);
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 20rem;
    background-color: rgba(91, 213, 139, 0.06);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 8px 9px hsl(0deg 0% 0% / 0.15);
    /* padding: 1rem; */
}

.title {
    width: 100%;
    background-color: aquamarine;
    padding: 1rem;
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
}

.inp {
    margin: 1rem 0 0 0;
    border: 0.5px solid rgba(0, 0, 0, 0.245);
    padding: 0 0.5rem;
    width: 90%;
    /* background-color: rgba(255, 255, 255, 0); */
}

.bTn {
    margin: 1rem 0;
    border: none;
    background-color: aquamarine;
    padding: 0.1rem 0.4rem;
}

.form-control {
    margin: 0 0.5rem;
    margin-top: 1rem;
}